@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.root {
  text-align: center;

  .title {
    //margin: 35px auto;
    @include title;
  }

  .productsWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 35px;
    justify-content: space-evenly;
    align-items: center;
  }
}
